* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background: #fff;
  color: #111;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #111;
  font-weight: 500;
}


.contact-section {
  padding: 60px 40px;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: 'Georgia', serif;
}

.contact-form button {
  padding: 12px;
  background: #111;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: #333;
}

.socials {
  margin-top: 30px;
  font-size: 1rem;
}

.socials a {
  color: #111;
  text-decoration: none;
  margin: 0 5px;
}

.socials a:hover {
  text-decoration: underline;
}

.busku-logo{
  margin-right: 10px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
  }